<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="@{layouts/layout}">
<head>
	<meta charset="UTF-8" />
	<title>Página Inicial</title>
</head>
<body>
	<div layout:fragment="content">
		<span th:each = "cliente : ${clientes}" th:text = "${cliente.id} + ' - ' + ${cliente.nome}">
		</span>
	</div>
</body>
</html>