/*
* Arquivo de customização de CSS
*/

body{
	z-index: '500';
}

/* MENU */
.hasMenu{
	padding-top:100px;
}
.navbar-right{
	margin-right: 58px;
}
button.btn-menu, .navbar-default{
	background-color:#d0d0d0;
}
.navbar-nav > li:hover {
	background-color:#c5c5c5;
}

.navbar-nav > li{
	height: 60px;
}

	
/* BOTÕES */
button.btn2x{
	    height: 43px !important;
	}
div.btn-group > button.btn-menu{
	border: 1px solid;
	
}

/*WINDOWS*/
.modal-window{
	z-index: '1300';
}
.modal-window .small{
	width: 260px;
}

.modal-window .medium{
	width: 480px;
}

.modal-window .large{
	width: 720px;	
}
