<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}" />
<link rel="stylesheet" th:href="@{/css/jquery.dataTables_themeroller.css}" />
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />
<link rel="stylesheet" th:href="@{/css/custom.css}" />
<script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/modal.js}"></script>
</head>

<body>

<div class = "nav navbar-default navbar-fixed-top" >
	
		<ul class = "nav navbar-nav">
			<li ><p class="navbar-brand">ERP</p></li>
			<li ><a href="#" th:text="#{lbl.paginaInicial}"></a></li>
			<li ><a href="#" th:text="#{lbl.servicos}"></a></li>
			<li ><a href="#" th:text="#{lbl.produtos}"></a></li>
			<li ><a href="#" th:text="#{lbl.clientes}"></a></li>
			<li ><a href="#" th:text="#{lbl.fornecedores}"></a></li>
			<li ><a href="#" th:text="#{lbl.funcionarios}"></a></li>
			<li ><a href="#" th:text="#{lbl.agenda}"></a></li>
			
			
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><div id = "groupUser" class="btn btn-group" role="group">
					<button type="button" class = "btn btn-menu"> <i class="fa fa-user fa-2x"></i></button>
					<div class="btn-group" role="group">
						<button type="button" class = "btn btn-menu dropdown-toggle btn2x" data-toggle="dropdown"> 
							<span class="caret"></span></button>
							<ul class="dropdown-menu">
						      <li><a href="#" th:text="#{lbl.funcionario}"></a></li>
						      <li><a href="#" th:text="#{lbl.sair}"></a></li>
						    </ul>
					</div>
				</div></li>
		</ul>
	
		
	
</div>
	<div class = "container hasMenu">
		<div layout:fragment="content"></div>
	
</div>

</body>
</html>